{% extends 'base.html.twig' %}

{% block body %}
    <h1>Comment</h1>

    <table class="table table-list">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comment.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ comment.username }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ comment.content }}</td>
            </tr>
            <tr>
                <th>Publishedat</th>
                <td>{% if comment.publishedAt %}{{ comment.publishedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul class="list-inline">
        <li>
            <a href="{{ path('comment_index') }}" class="btn btn-primary">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('comment_edit', { 'id': comment.id }) }}" class="btn btn-info">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Supprimer ?')">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
